.tasks {
    max-width: 500px;
    margin: auto;
    padding: 100px 20px;
}

form {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 20px;
    justify-content: space-between;
}

form input {
    flex-grow: 1;
    border: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

form input:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0 5px;
}

li {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1.2rem;
    box-shadow: 1px 7px 11px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 7px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 7px 11px 0px rgba(0,0,0,0.75);
}